In [17]:
# —— 1. 统一各年“Black”、“Native”、“Asian_PI”列 —— #
def standardize_race_cols(df, year):
    # 找到并重命名“Black”
    black_col = [c for c in df.columns if "black" in c.lower()][0]
    # 找到并重命名“Native”（包含 Indian 关键字的列）
    native_col = [c for c in df.columns if "indian" in c.lower()][0]
    # 合并或复制“Asian_PI”
    if year == 2010:
        pi_col = [c for c in df.columns if "pacific" in c.lower() and "1" not in c][0]
        df["Asian_PI"] = df[pi_col]
    else:
        asian_col = [c for c in df.columns if c.lower().startswith("asian") and "1" not in c][0]
        pi_col    = [c for c in df.columns if "pacific" in c.lower() and "1" not in c][0]
        df["Asian_PI"] = df[asian_col] + df[pi_col]

    df.rename(columns={black_col: "Black", native_col: "Native"}, inplace=True)
    return df

df_2010 = standardize_race_cols(df_2010, 2010)
df_2015 = standardize_race_cols(df_2015, 2015)
df_2019 = standardize_race_cols(df_2019, 2019)

# —— 2. 自动检测“Offense”列名 —— #
def find_off_col(df):
    return [c for c in df.columns if "off" in c.lower()][0]

off_2010 = find_off_col(df_2010)
off_2015 = find_off_col(df_2015)
off_2019 = find_off_col(df_2019)

# —— 3. 提取 Drug abuse violations，加 Year，并只保留需要的列 —— #
keep = ["Year","Total","White","Black","Native","Asian_PI"]
rows = []
for df, off_col, year in [
    (df_2010, off_2010, 2010),
    (df_2015, off_2015, 2015),
    (df_2019, off_2019, 2019),
]:
    r = df[df[off_col].str.contains("drug abuse", case=False, na=False)].copy()
    r["Year"] = year
    rows.append(r[keep])

# —— 4. 合并成最终的 tidy DataFrame —— #
df_drug = pd.concat(rows, ignore_index=True)

# —— 5. 显示结果 —— #
df_drug

,Offense charged,Total,White,Black,American\nIndian or\nAlaskan\nNative,Asian or\nPacific\nIslander,Total.1,White.1,Black.1,American\nIndian or\nAlaskan\nNative.1,Asian or\nPacific\nIslander.1,Unnamed: 11,,.1,.2
0,TOTAL,10177907.0,7066154.0,2846862.0,145612.0,119279.0,100,69.4,28,1.4,1.2,,,NaN,NaN
1,Murder and nonnegligent manslaughter,8641.0,4261.0,4209.0,91.0,80.0,100,49.3,48.7,1.1,0.9,,,NaN,NaN
2,Forcible rape,15503.0,10178.0,4925.0,214.0,186.0,100,65.7,31.8,1.4,1.2,,NaN,NaN,NaN

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total.1,White.1,Black or\nAfrican\nAmerican.1,American\nIndian or\nAlaska\nNative.1,Asian.1,Native\nHawaiian\nor Other\nPacific\nIslander.1,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total.2,Hispanic\nor\nLatino.1,Not\nHispanic\nor Latino.1
0,TOTAL,8248709.0,5753212.0,2197140.0,174020.0,101064.0,23273.0,100,69.7,26.6,2.1,1.2,0.3,6546220.0,1204862.0,5341358.0,100.0,18.4,81.6
1,Murder and nonnegligent manslaughter,8508.0,3908.0,4347.0,102.0,126.0,25.0,100,45.9,51.1,1.2,1.5,0.3,6594.0,1370.0,5224.0,100.0,20.8,79.2
2,Rape3,17370.0,11809.0,4907.0,301.0,271.0,82.0,100,68.0,28.2,1.7,1.6,0.5,13117.0,3516.0,9601.0,100.0,26.8,73.2

,Offense charged,Total,White,Black or\nAfrican\nAmerican,American\nIndian or\nAlaska\nNative,Asian,Native\nHawaiian\nor Other\nPacific\nIslander,Total.1,White.1,Black or\nAfrican\nAmerican.1,American\nIndian or\nAlaska\nNative.1,Asian.1,Native\nHawaiian\nor Other\nPacific\nIslander.1,Total2,Hispanic\nor\nLatino,Not\nHispanic\nor Latino,Total.2,Hispanic\nor\nLatino.1,Not\nHispanic\nor Latino.1
0,TOTAL,6816975.0,4729290.0,1815144.0,164852.0,86733.0,20956.0,100,69.4,26.6,2.4,1.3,0.3,5896059.0,1126806.0,4769253.0,100.0,19.1,80.9
1,Murder and nonnegligent manslaughter,7964.0,3650.0,4078.0,125.0,83.0,28.0,100,45.8,51.2,1.6,1.0,0.4,6474.0,1341.0,5133.0,100.0,20.7,79.3
2,Rape3,16599.0,11588.0,4427.0,249.0,276.0,59.0,100,69.8,26.7,1.5,1.7,0.4,14172.0,3948.0,10224.0,100.0,27.9,72.1

In [18]:
# —— 1. 统一各年“Black”、“Native”、“Asian_PI”列 —— #
def standardize_race_cols(df, year):
    # 找到并重命名“Black”
    black_col = [c for c in df.columns if "black" in c.lower()][0]
    # 找到并重命名“Native”（包含 Indian 关键字的列）
    native_col = [c for c in df.columns if "indian" in c.lower()][0]
    # 合并或复制“Asian_PI”
    if year == 2010:
        pi_col = [c for c in df.columns if "pacific" in c.lower() and "1" not in c][0]
        df["Asian_PI"] = df[pi_col]
    else:
        asian_col = [c for c in df.columns if c.lower().startswith("asian") and "1" not in c][0]
        pi_col    = [c for c in df.columns if "pacific" in c.lower() and "1" not in c][0]
        df["Asian_PI"] = df[asian_col] + df[pi_col]

    df.rename(columns={black_col: "Black", native_col: "Native"}, inplace=True)
    return df

df_2010 = standardize_race_cols(df_2010, 2010)
df_2015 = standardize_race_cols(df_2015, 2015)
df_2019 = standardize_race_cols(df_2019, 2019)

# —— 2. 自动检测“Offense”列名 —— #
def find_off_col(df):
    return [c for c in df.columns if "off" in c.lower()][0]

off_2010 = find_off_col(df_2010)
off_2015 = find_off_col(df_2015)
off_2019 = find_off_col(df_2019)

# —— 3. 提取 Drug abuse violations，加 Year，并只保留需要的列 —— #
keep = ["Year","Total","White","Black","Native","Asian_PI"]
rows = []
for df, off_col, year in [
    (df_2010, off_2010, 2010),
    (df_2015, off_2015, 2015),
    (df_2019, off_2019, 2019),
]:
    r = df[df[off_col].str.contains("drug abuse", case=False, na=False)].copy()
    r["Year"] = year
    rows.append(r[keep])

# —— 4. 合并成最终的 tidy DataFrame —— #
df_drug = pd.concat(rows, ignore_index=True)

# —— 5. 显示结果 —— #
df_drug

   Year      Total     White     Black   Native  Asian_PI
0  2010  1270443.0  846736.0  404609.0   8766.0   10332.0
1  2015  1136950.0  803809.0  307140.0  11717.0   14284.0
2  2019  1052101.0  748874.0  274670.0  14098.0   14459.0

In [19]:
df_drug.to_csv("C:/Users/hp/working-with-data/research-project/data/processed/cleaned_table43_drug_abuse.csv", index=False)